<navbar></navbar>
<div class="weather-banner-container" style="background-image: url('../../img/bannerlatest.png')">
    <div class="weather-form-container">
        <form name="weatherform" class="weather-form">
            <input placeholder="Find your weather.." name="locationInput" ng-model="location">
            <button ng-click="fetchWeatherForLocation(location)">Search</button>
        </form>
        <p ng-if="message" class="weather-app-error-message">{{message}}</p>
    </div>
</div>
<div class="weather-result-container" ng-if="showForecastContainer">
    <div class="weather-result-card">
        <header>
            {{currentDay | date: 'EEEE'}}
        </header>
        <main>
            <div class="weather-result-location">
               {{weatherData.location}}
            </div>
            <div class="weather-result-temperature">
                {{weatherData.forecast.temperature}}<sup>o</sup>C
             </div>
            <div class="weather-result-icon-continer">

            </div>
        </main>
    </div>
</div>
 


