body {
    color: white;
    font-family: arial;
    padding: 0 16px;
    background: #1e202b;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh
}

.weather-nav-bar-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    max-width: 1170px;
    margin: 0 auto;
    transition: all 1s;
}

.weather-app-info-container{
    display: flex;
}

.weather-app-logo img {
    max-width: 100%;
    height: auto;
}

.weather-app-title{
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.weather-app-title h1{
    font-size: 20px;
}
.weather-nav-bar{
        display: flex;
    align-items: center;
}
.weather-nav-bar a{
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 5px 25px;
    transition: .3s ease;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.weather-nav-bar a:hover{
    border-color: #009ad8;
    color: #009ad8;
}

.weather-banner-container{
    background-size: cover;
    min-height: 350px;
}

.weather-form-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.weather-form{
    position: relative;
    margin-bottom: 70px;
    width: 100%;
    top: 70px;
    display: flex;
    transition: all 1s;
}

.weather-result-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.weather-app-error-message{
    position: relative;
    top: 10px;
    left: 5px;
}
.weather-result-card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    width: 420px;
    background: #323544;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: -130px;
}

.weather-result-card header{
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    color:#bfc1c8;
}

.weather-result-card main{
    padding: 30px 20px;
    color:#bfc1c8;
    text-align: center;
}

.weather-result-temperature{
    font-size: 6.7rem;
    color: white;
    font-weight: 700;
}

.weather-result-temperature sup{ 
    font-size: 5rem;
}

.weather-app-about{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
}

.weather-result-icon-continer{
    margin-top: 20px;
}

.weather-result-icon-continer span{
    margin-right: 20px;
}

.weather-result-icon-continer span img{
    width: 25px;
    vertical-align: bottom;
}

h1 {
    font-size: 34px;
    margin-bottom: 16px;
}

input {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
}

button {
    cursor: pointer;
    display: block;
    height: 50px;
    outline: none;
    padding: 0 40px;
    border: none;
    background: #009ad8;
    border-radius: 30px;
    color: white;
}

@media screen and (max-width: 768px){
    .weather-nav-bar-container{
        padding:30px 10px;
    }
    .weather-banner-container{
        padding: 0 20px;
    }
    .weather-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .weather-form{
        flex-direction: column;
    }
    .weather-app-logo img {
        max-width: 80%;
    }
    button {
        width: 50%;
        margin: 10px auto;
    }
    input{
        width: auto;
    }
}

@media screen and (max-width: 480px){
    .weather-app-info-container{
        flex-direction: column;
        align-items: center;
    }
    .weather-nav-bar a{
        padding: 5px 10px;
    }
    .weather-result-card{
        width: 320px;
    }
}