body {
    color: white;
    font-family: arial;
    padding: 0 16px;
    background: #1e202b;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh
}

.weather-nav-bar-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.weather-app-info-container{
    display: flex;
    cursor: pointer;
}

.weather-app-logo img {
    max-width: 100px;
}

.weather-app-title{
    margin-left: 5px;
}
.weather-app-title h1{
    font-size: 20px;
}

.weather-nav-bar a{
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 5px 25px;
    transition: .3s ease;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.weather-nav-bar a:hover{
    border-color: #009ad8;
    color: #009ad8;
}

.weather-banner-container{
    background-size: cover;
    min-height: 350px;
}

.weather-form-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.weather-form{
    position: relative;
    margin-bottom: 70px;
    width: 100%;
    top: 70px;
}

.weather-result-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.weather-app-error-message{
    position: relative;
    top: 10px;
    left: 5px;
}
.weather-result-card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    width: 420px;
    background: #323544;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}

.weather-result-card header{
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    color:#bfc1c8;
}

.weather-result-card main{
    padding: 30px 20px;
    color:#bfc1c8;
}

.weather-result-temperature{
    font-size: 6.7rem;
    color: white;
    font-weight: 700;
}

.weather-result-temperature sup{ 
    font-size: 5rem;
}

h1 {
    font-size: 34px;
    margin-bottom: 16px;
}

input {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
}

button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: -60px;
    bottom: 5px;
    outline: none;
    padding: 0 40px;
    border: none;
    background: #009ad8;
    border-radius: 30px;
    color: white;
}